{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Управление сделками{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <a href="{% url 'index' %}" class="logo">Deals</a>
                {% if user_name %}
                <div class="user-info">
                    <div class="user-avatar">{{ user_name|first|upper }}</div>
                    <span>Добро пожаловать, {{ user_name }}!</span>
                </div>
                {% endif %}
            </div>

           <nav class="nav-menu">
                <a href="{% url 'index' %}" {% if request.path == '/' or request.path == '/home/' %}class="active"{% endif %}>Главная</a>
                <a href="{% url 'deals' %}" {% if request.path == '/deals/' %}class="active"{% endif %}>Мои сделки</a>
                <a href="{% url 'create_deal' %}" {% if request.path == '/create-deal/' %}class="active"{% endif %}>Создать сделку</a>
                <a href="{% url 'generate_qr' %}" {% if request.path == '/generate-qr/' %}class="active"{% endif %}>QR-коды</a>
                <a href="{% url 'employees_table' %}" {% if request.path == '/employees/' %}class="active"{% endif %}>Сотрудники</a>
            </nav>
        </header>

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>